.main-space {
    width: 100%;
    height: calc(var(--alphabeth-dp) * 5);
    position: relative;
    z-index: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    transition: height var(--transition-duration);
}

.background-letter {
    width: 100%;
    height: 100%;
    color: #0003;
    position: absolute;
    font-size: 40vmin;
    z-index: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.main-space>img {
    max-width: 90%;
    max-height: 90%;
    z-index: 3;
}

@media screen and (orientation:landscape) {
    .main-space {
        height: calc(var(--alphabeth-dp) * 6);
    }
    @media(max-height: 480px) {
        .main-space {
            height: calc(var(--alphabeth-dp) * 6 + var(--bar-size) * 0.2);
        }
    }
}