.menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.menu-list {
    width: 100%;
    height: 100vh;
    max-width: 480px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    width: calc(100% - 2* var(--spacing-big));
    height: auto;
    margin: var(--spacing-big);
    background-color: var(--color-primary);
    border-radius: var(--spacing);
    box-shadow: 0 4px 16px -2px black;
    list-style: none;
    transition: var(--transition-duration);
}

.menu-item a {
    width: calc(100% - 2* var(--spacing));
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: white;
    padding: var(--spacing-big) var(--spacing);
    text-decoration: none;
    font-size: 2em;
}

@media(max-width: 360px) {
    .menu-item {
        width: 100%;
        margin: var(--spacing) 0;
        border-radius: 0;
        box-shadow: 0 1px 4px 0 black;
    }
}