.numbers-bar {
    width: 100%;
    height: auto;
    max-height: 40vmin;
    background-color: var(--color-primary);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.number-item {
    width: 10vmin;
    height: 10vmin;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vmin;
}

/* @media(max-height: 480px) {
    .number-item {
        width: 20vmin;
        height: 20vmin;
    }
} */

@media(max-width: 480px) {
    .numbers-bar {
        flex-wrap: wrap;
    }
    .number-item {
        width: 20vmin;
        height: 20vmin;
        font-size: 15vmin;
    }
}

@media screen and (orientation:landscape) {
    .numbers-bar {
        width: auto;
        max-width: 40vmin;
        height: 100%;
        max-height: 100%;
        flex-direction: column;
    }
    @media(max-height: 480px) {
        .numbers-bar {
            flex-flow: row wrap;
        }
        .number-item {
            width: 20vmin;
            height: 20vmin;
            font-size: 15vmin;
        }
    }
}