.numbers-bar {
    width: 100%;
    height: var(--item-size);
    background-color: var(--color-primary);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 16px 0 black;
    z-index: 100;
}

.number-item {
    width: var(--item-size);
    height: var(--item-size);
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-item>p {
    max-width: 100%;
    max-height: 100%;
    font-size: calc(var(--item-size) * 3 / 4);
    color: white;
    padding-right: calc(var(--item-size) / 8);
    margin: 0;
}

@media(max-width: 480px) {
    .numbers-bar {
        height: calc(var(--item-size) * 2);
        flex-wrap: wrap;
    }
}

@media screen and (orientation:landscape) {
    .numbers-bar {
        width: var(--item-size);
        height: 100%;
    }
    @media(max-height: 480px) {
        .numbers-bar {
            width: calc(var(--item-size) * 2);
        }
    }
}