:root {
    --item-size: 10vmin;
}

.numbers {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

@media(max-width: 480px) {
    :root {
        --item-size: 20vmin;
    }
}

@media screen and (orientation:landscape) {
    .numbers {
        flex-flow: row nowrap;
    }
    @media(max-height: 480px) {
        :root {
            --item-size: 20vmin;
        }
    }
}