:root {
    --image-margin: 1vmin;
}

.images-space {
    width: 100%;
    height: calc(100% - var(--item-size));
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-div {
    width: 33%;
    height: 33%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.bla {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-div>img {
    max-width: calc(100% - 2 * var(--image-margin));
    max-height: calc(100% - 2 * var(--image-margin));
    margin: var(--image-margin);
}

@media(max-width: 480px) {
    .images-space {
        height: calc(100% - var(--item-size) * 2);
    }
    .image-div {
        width: 50%;
        height: 20%;
    }
}

@media screen and (orientation:landscape) {
    .images-space {
        width: calc(100% - var(--item-size));
        height: 100%;
    }
    /* .image-div {
        max-width: 33%;
        max-height: 33%;
    } */
    @media(max-height: 480px) {
        .images-space {
            width: calc(100% - var(--item-size) * 2);
        }
        .image-div {
            width: 20%;
            height: 50%;
        }
    }
}

.image-enter-active, .image-leave-active {
    transition: opacity .3s, transform .5s;
}

.image-leave-active {
    position: absolute;
}

.image-enter, .image-leave-to {
    opacity: 0;
    transform: scale(0.01);
    
}

.image-move {
    transition: opacity .3s, transform .5s;
}