:root {
    --spacing: 16px;
    --spacing-big: 32px;
    --spacing-small: 8px;
    --topbar-height: 56px;
    --color-primary: #8bc34a;
    --color-primary-dark: #5a9216;
    --color-primary-light: #bef67a;
    --color-primary-extra-light: #f2ffab;
    --color-accent: #790e8b;
    --transition-duration: 0.3s;
    --transition-duration-short: 0.2s;
    --transition-duration-long: 0.5s;
    --bar-size: 56px;
}

body {
    margin: 0;
}

#app {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-primary-extra-light);
  overflow: hidden;
  font-family: cursive;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}